<div class="top-tool space-between">
    <button class="cancel">Cancel</button>
    <span>New Reminder</span>
    <button class="done">Add</button>
</div>
<div class="input-group">
    <textarea type="text" name="title" id="title" placeholder="Title"></textarea>
    <textarea type="text" name="notes" id="notes" placeholder="Notes"></textarea>
</div>
<div class="reminder-details-tab">
    <div class="detail-info">
        <p>Details</p>
    </div>
    <span class="material-symbols-outlined">
        arrow_forward_ios
    </span>
</div>
<div class="select-list">

</div>