<div class="top-tool space-between">
    <button class="cancel">
        <span class="material-symbols-outlined">
            arrow_back_ios
        </span>
        Lists
    </button>
    <span class="list-name"></span>
    <button class="done hidden">
        Done
    </button>
</div>
<div class="reminder-content">
    
</div>
<div class="bottom-tool space-between">
    <button class="new-reminder">
        <span class="material-symbols-outlined add circle">
            add
        </span>
        New Reminder
    </button>
</div>