:root {
    --blue-theme: rgb(0, 102, 255);
    --background0: rgb(241, 242, 249);
    --bg-input: rgb(233, 229, 229);

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: black;
    height: 100dvh;
    overflow: hidden;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--blue-theme);
    gap: 0.6rem;
    background-color: transparent;
    font-size: 1.15rem;
}

.hidden {
    display: none;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    transition: all 300ms;
    /* border-radius: 10px; */
    background-color: var(--background0);
}

.main-content {
    padding: 0rem 0.75rem 0.75rem 0.75rem;
}

span.pending {
    color: var(--blue-theme);
    font-weight: 300;
    font-size: 3dvh;
}

span.search {
    color: grey;
    font-weight: 300;
    font-size: 3dvh;
    padding: 0.25rem 0rem 0.25rem 0.25rem;

}

.top-tool {
    border-radius: 15px 15px 0px 0px;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: flex-end;
    z-index: 12;
    height: 3rem;
    align-items: center;
    border-bottom: 0.1px solid transparent;
    background-color: var(--background0);
    transition: all 300ms;
    padding: 0rem 1rem 0rem 1rem;
}

.top-tool > button.cancel {
    gap: 0px;
}

.top-tool>span.details-span {
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main>.top-tool {

    z-index: 10;
}

.bottom-border {
    border-bottom: 0.1px solid rgb(189, 189, 189);
}

.search-input {
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    background-color: var(--bg-input);
    width: 80%;
    height: 4dvh;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 2dvh;
    align-self: center;
}

.search {
    padding: 0.05rem 0.75rem 0.75rem 0.75rem;
    border-radius: 0px 0px 9px 9px;
    transition: all 300ms;
}

.search-input:focus {
    outline: none;
}

.search-bar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--bg-input);
    /* height: 1.75rem; */
    border-radius: 8px;
}

.organize span {
    color: white;
    padding: 5px;
}

span.today {
    /* height: max-content; */
    background-color: rgb(69, 69, 238);
    border-radius: 50px;
    position: relative;
}

.organize {
    margin-bottom: 4dvh;
    /* margin-top: 1dvh; */
}

.card {
    background-color: white;
    border-radius: 9px;
}

.card-contents {
    padding: 0.25rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.icon-and-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.item-count {
    display: inline;
    font-family: monospace;
    font-weight: bold;
    font-size: 5dvh;
    align-self: flex-start;
}

.calendar_month {
    background-color: rgb(238, 69, 69);
    /* position: relative; */
}

.inventory_2 {
    background-color: rgb(34, 34, 34);
}

.flag_2 {
    background-color: rgb(255, 175, 55);
}

.check {
    background-color: rgb(89, 89, 89);
}

.organize {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    row-gap: 4%;
    column-gap: 3%;
    justify-content: center;
}

.my-lists {
    margin-left: 1rem;
    margin-bottom: 0.75rem;
}
.lists {
    margin-bottom: auto;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.add {
    color: white;
    background-color: var(--blue-theme);
}

.new-reminder {
    font-size: 0.95rem;
    font-weight:560;
}

.list-wrap, .new-reminder-div, .details-wrap {
    position: relative;
    background-color: var(--background0);
    z-index: 10;
    height: 95dvh;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px -1px 10px grey;
    transition: all 300ms;
    overflow: scroll;
}

.color-span-wrap, .icon-span-wrap {
    display: inline-flex;
    height: calc((100% - 1.6rem)/7);
    /* width: calc((100% - 1.6rem)/7); */
    padding: 0.25rem;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}


.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.color, span.icon {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.circle {
    padding: 0.25rem;
    border-radius: 50px;
}

.circle-select {
    border: 2.25px solid rgb(176, 176, 176);
}

.circle-not-select {
    border: 2.25px solid transparent;

}

.card-wrap {
    background-color: white;
    padding: 0.8rem;
    border-radius: 10px;
}

span.icon {
    background-color: rgb(240, 238, 238);
}

button:disabled {
    color: grey;
}

span.big-icon {
    color: white;
    font-size: 4rem;
    padding: 0.5rem;
}

.init {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25rem;
}

#list-name {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-input);
    /* height: 2rem; */
    font-size: 1.85rem;
    padding: 0.35rem 0rem 0.35rem 0rem;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
}

.big-icon {
    margin-top: 0.15rem;
}

span.new-list {
    font-size: 1.55rem;
}

.scrollable {
    overflow: scroll;
}

.list-tabs {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

/* .list-tabs > div:first-child {
    border-radius: 10px 10px 0px 0px;
}

.list-tabs > div:last-child {
    border-radius: 0px 0px 10px 10px;
} */

.list-tabs > div:not(:first-child) {
border-top: 1px solid grey;}

.list-card, .list-card>div {
    display: flex;   
    align-items: center; 
}

.list-card {
    justify-content: space-between;
    background-color: white;
    padding: 0.75rem;
}

.list-card span:first-child {
    color: white;
}

.list-card p {
    font-size: 1.25rem;
}

.margin-btm-auto {
    margin-bottom: auto;
}

.left-wrap {
    gap: 0.75rem;
}

.bottom-tool {
    position: relative;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    z-index: 10;
    margin-top: auto;
    transition: all 300ms;
    backdrop-filter: blur(10px);
}

.top-border {
    border-top: 1px solid grey;
}

.white-bg {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.new-reminder-div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 10;
}

.new-reminder-div > div:not(:first-child) {
    margin: 0rem 0.75rem 0rem 0.75rem;
    border-radius: 9px;
}

.list-card-select {
    border-radius: 9px;
}

.new-reminder-div > .input-group {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.75rem;
    background-color: white;
    border-radius: 9px;
}

.reminder-details-tab {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: white;
    border-radius: 9px;
    align-items: center;
}

.input-group > textarea {
    border: none;
    font-size: 2dvh;
    height: fit-content;
    resize: none;
}

textarea#title:focus, textarea#notes:focus {
    outline: none;
}

.input-group > textarea::placeholder {
    color: rgb(211, 211, 211);
}

textarea#title {
    border-radius: 0px;
    border-bottom: 1px solid grey;
    height: 5.5dvh;
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
}

textarea#notes {
    display: flex;
    justify-content: center;
    text-align: start;
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
    height: 12dvh;
}

.details-wrap {
    background-color: var(--background0);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    height: 98dvh;
    /* transform: translate(100%, -198%); */
    z-index: 10;
    transition: all 300ms;
}

.details-content {
    padding: 0rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.details-content > div {
    background-color: white;
    border-radius: 9px;
}

.details-content span {
    color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 0.15rem;
}

.details-content p {
    font-size: 1.4rem;
    font-weight: 100;
}

.date > span {
    background-color: rgb(238, 69, 69);
}

.date {
    border-bottom: 1px solid gainsboro;
}

.time > span {
    background-color: royalblue;
}

.flag > span {
    background-color: rgb(255, 175, 55);
}

.priority > span {
    background-color: rgb(238, 69, 69);
}

.date, .time, .flag, .priority {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
}

.name-and-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.name-and-toggle > p {
    margin-right: auto;
}

.toggle-wrap {
    width: 2rem;
    height: 1.2rem;
    background-color: var(--bg-input);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  /* code from w3 */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #17a83b;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #17a83b;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

    /* The slider ends*/

#priority {
    border: none;
    font-size: 1.2rem;
    color: grey;
    text-align: center;
    background-color: white;
}

#priority::selection {
    border: none;
}

.calendar-wrap {
    max-height: 0;
    display: flex;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

div.air-datepicker.-inline- {
    /* height: 0; */
    opacity: 0;
    z-index: -100;
    transition: all 300ms;
    border: none;
    font-size: 1.25rem;
}

#date-input {
    color: royalblue;
    outline: none;
    border: none;
    width: 50dvw;
}

.air-datepicker-body--day-names, .air-datepicker-body--cells.-days- {
    column-gap: 1rem;
}

#time-input {
    color: royalblue;
    outline: none;
    border: none;
}

.reminder-wrap {
    display: flex;
    min-width: 200dvw;
    transition: all 300ms;
}

.reminder-wrap > div:not(:last-child) {
    flex: 1 1 0;
}

.list-select-wrap {
    background-color: var(--background0);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    width: 100dvw;
    z-index: -10;
    right: 0dvw;
    opacity: 0;
}
.lists-select-content {
    margin: 0.75rem;
    /* padding: 0.25rem; */
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

.lists-select-content > div:not(:first-child) {
    border-top: 1px solid grey;
}

.material-symbols-outlined.selected-icon.check {
    color: royalblue;
    background-color: transparent;
}

.detail-info > :first-child {
    font-size: 1.25rem;
}

.detail-info > :nth-child(2) {
    font-size: 0.85rem;
    color: grey;
}

.reminder-page {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 0%;
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    transition: all 300ms;
}

.reminder-content {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    flex: 1 0 0;
    margin: 0.75rem;
}

.reminder-card-wrap {
    display: flex;
    margin-top: 0.45rem;
    align-items: flex-start;
    position: relative;
    transition: all 1000ms;
}

.reminder-title-wrap {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
}

.reminder-page > .top-tool {
    background-color: white;
}

.reminder-page .reminder-title {
    font-size: 1.25rem;
    outline: none;
    height: 26px;
    resize: none;
    width: 80%;
    border: none;
}

.reminder-notes {
    resize: none;
    font-size: 1.15rem;
    color: grey;
    border: none;
    outline: none;

} 

.round-check {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    border: 2px solid grey;
    margin-right: 0.6rem;
}

.check-box-inner {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked + .check-box-inner {
    background-color: royalblue;
}

.round-check:has(input:checked) {
    border: 2px solid royalblue;
}

#is-reminder-complete {
    opacity: 0;
    width: 0;
    height: 0;
}

.priority-icon {
    margin-right: 0.2rem;
}

.priority-icon > span {
    color: royalblue;
}
.priority-icon > span:first-child {
    margin-left: -10px;
}
.priority-icon > span:not(:first-child) {
    margin-left: -18px;
}
.priority-icon > span:last-child {
    margin-right: -6px;
}


.reminder-info-wrap {
    border-bottom: 1px solid #ccc;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.45rem;
}

.reminder-title-wrap > span {
    color: rgb(255, 175, 55);
    margin-left: auto;
}

.reminder-date, .reminder-time {
    color: grey;
}
